.Adding {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        ". adding_title adding_title adding_favoris ."
        ". . . . ."
        ". adding_form adding_form adding_form ."
        ". . . . ."
        ". . . . .";
    background-color: darkorchid;
    margin-left: 80%;
    width: 600px;
    max-height: 57.2rem;

    &_head {
        display: flex;
        justify-content: space-evenly;
        height: 120px;

        &_titre {
            color: white;
            grid-area: adding_title;
            text-decoration: underline;
            font-size: 30px;
        }

        &_favoris {
            margin-top: 30px;
            grid-area: adding_favoris;
            cursor: pointer;
            font-size: 30px;
            transition: all 400ms ease-in-out;

            &:hover {
                background-clip: text;
                -webkit-background-clip: text;
                color: red;
            }
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        grid-area: adding_form;
        border-left: 1px solid darkgray;
        border-right: 1px solid darkgray;
        padding: 30px 10px;
    }

    & label {
        text-align: left;
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        font-size: 24px;
    }

    & input {
        margin-bottom: 20px;
    }

    & select {
        margin-bottom: 20px;
    }

    &_note {
        display: flex;
        flex-direction: row;

        &-option {
            margin: 10px 15px;
        }
        & p {
            margin: 7px 0;
            font-weight: bold;
        }
    }

    &_submit {
        color: whitesmoke;
        font-size: 24px;
        font-weight: bold;
        background-color: lightskyblue;
        border: 1px solid black;
        cursor: pointer;
        transition: background-color 400ms ease-in-out;

        &:hover {
            background-color: green;
        }
    }
}
