.Login {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        ". login_title login_title login_title ."
        ". . . . ."
        ". login_form login_form login_form ."
        ". . . . ."
        ". . . . .";
    background-color: darkorchid;
    margin-left: 35%;
    width: 600px;
    max-height: 58.55rem;

    &_head {
        display: flex;
        justify-content: space-evenly;
        height: 120px;

        &_titre {
            color: white;
            grid-area: login_title;
            text-decoration: underline;
            font-size: 30px;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        grid-area: login_form;
        border-left: 1px solid darkgray;
        border-right: 1px solid darkgray;
        padding: 311px 10px;

        & a {
            color: whitesmoke;
            font-weight: bold;
            font-size: 20px;
        }
    }

    & label {
        text-align: left;
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        font-size: 24px;
    }

    & input {
        margin-bottom: 20px;
    }

    &_submit {
        color: whitesmoke;
        font-size: 24px;
        font-weight: bold;
        background-color: lightskyblue;
        border: 1px solid black;
        cursor: pointer;
        transition: background-color 400ms ease-in-out;

        &:hover {
            background-color: green;
        }
    }
}
