header {
    display: flex;
    flex-direction: row;
    background-color: skyblue;
    border-right: 2px solid black;
    height: 97.5vh;

    & nav {
        display: flex;
        flex-direction: column;
        width: 300px;

        & .logo {
            z-index: 2;
            padding: 0;
            width: 300px;
            height: 150px;

            &::after {
                position: absolute;
                top: 40px;
                left: 90px;
                content: "Accueil";
                font-size: 40px;
                text-shadow:  0 0 3px black;
            }
        }

        & a {
            padding: 10px 0;
            color: white;
            background-color: darkorchid;
            font-size: 24px;
            border-bottom: 2px solid black;
            text-decoration: none;

            & img {
                width: 300px;
                height: 150px;
            }
        }
    }
}
